/**
 * Styles for the add-observation.html page 
 */

.required:after {
  content: "* ";
  color: red;
}

#description {
  width: 550px;
}

#latDiv {
  color: red;
}
#longDiv {
  color: red;
}

#latitudeDiv::before {
  content: " ";
}

#longitudeDiv::before {
  content: " ";
}

#labelLatitude {
  color: black;
}
#labelLongitude {
  color: black;
}
#errorTxt {
  color: red;
}
